<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>CSE132B</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>CSE132B.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>/ActionServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentTypeSelectServlet</servlet-name>
    <servlet-class>CSE132B.StudentTypeSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentTypeSelectServlet</servlet-name>
    <url-pattern>/StudentTypeSelectServlet/*</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ClassEnrollmentHandler</servlet-name>
    <servlet-class>CSE132B.ClassEnrollmentHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassEnrollmentHandler</servlet-name>
    <url-pattern>/ClassEnrollmentHandler/*</url-pattern>
  </servlet-mapping>
  
</web-app>
